.sitePart {
    height: 100vh!important;
}
/*   Site parts   */

.firstPartText {
    text-align: right;
    margin-top: 15%;
}

.secondPartText {
    text-align: left;
    margin-top: 10%;
}

.lastPartText {
    margin-top: 15%
}
 
/*   Site's first part parts   */

#picOnFirstPart {
    position: relative;
    width: 400px;
    height: 200px;
    left: 100px;
    top: -50px;
    border-radius: 10px;
}

#eli1 {
    position: relative;
    width: 190px;
    height: 190px;
    top: 50px;
    z-index: -1;
    border-radius: 50%;
    background: #6895ED;
}

#docOnFirstPart {
    position: relative;
    width: 140px;
    height: 140px;
    top: 30px;
    left: 50px;
}

/*   Site's second part parts   */

#picOnSecondPart {
    position: relative;
    width: 420px;
    height: 450px;
    border-radius: 10px;
    right: -150px;
    top: 70px;
}

#mailOnSecondPart {
    position: relative;
    width: 170px;
    height: 150px;
    left: 70px;
    top: -610px;
}

#starOnSecondPart {
    top: -430px;
    left: 250px;
    width: 50px;
    height: 50px;
    margin: 10px;
    background: #F3F4F6;
    position: relative;
    transform: rotate(20deg);
    
}
#starOnSecondPart:before {
    content: "";
    height: 50px;
    width: 50px;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(135deg);
}

#starBorder {
    top: -365px;
    left: 245px;
    width: 60px;
    height: 60px;
    margin: 10px;
    background: #EECBF0;
    position: relative;
    transform: rotate(20deg);
}

#starBorder:before {
    content: "";
    height: 60px;
    width: 60px;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(135deg);
}

#circleUnfilled {
    position: relative;
    top: -130px;
    left: 210px;
    width: 50px;
    height: 50px;
    background: #ACB2EB;
    border-radius: 50%;
}

#circleFilled {
    position: relative;
    top: -560px;
    left: 530px;
    width: 30px;
    height: 30px;
    background: #F3F4F6;
    border-radius: 50%;
}

#circleFilledBorder {
    position: relative;
    top: -525px;
    left: 525px;
    width: 40px;
    height: 40px;
    background: #ACB2EB;
    border-radius: 50%;
}

/*   Site's third part parts   */

.myCard {
    background: #7391CC;
    border: 2px solid #282A3F;
}

.cards {
    padding-top: 5%;
}

/*   Last part   */

.footer {
    background-color: #202020;
}

.footer span {
    font-size: 24px;
    color: #EAEAEA;
}

.footer p {
    font-size: 18px;
    color: #EAEAEA;
}


@media(max-width: 1100px){
    .sitePart {
        height: 100%;
    }
    .firstPartText{
        margin: 120px auto;
    }
    .firstPartPic{
        margin: 50px auto;
    }
    
    .secondPartText {
        margin: 50px auto;
        padding-top: 50px;
        padding-left: 50px;
    }
    .secondPartPic {
        margin: 50px auto;
    }
    /*.secondPartPic img {*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*}*/
}