
/*   Page   */


.square {
    width: 130px;
    height: 260px;
    background-image: url(Pictures/SquareLogin.PNG);
    position: absolute;
    right: 0;
    top: 30%;
}

.round {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 1%;
    left: 10%;
    background: #C4C8F3;
    border-radius: 50%;
}

.diamond {
    position: absolute;
    width: 280px;
    height: 90px;
    background-image: url(Pictures/LogInDiamond.PNG);
    bottom:0;
    left: 5%;
}

@media (max-width: 790px) {
    .decorativeFigure {
        visibility: hidden;
    }
}