body {
    background: #7391CC!important;
}
/*   Page   */

.circle {
    position: relative;
    width: 190px;
    height: 190px;
    top: 50px;
    left: 100px;
    z-index: -1;
    border-radius: 50%;
    background: #CF89D3;
}

.portrait {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    top: -95px;
    left: 145px;
}

.btns {
    position: absolute;
    bottom: 1%;
    right: 3%;
}